.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 350px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 30%;
}
.menu ul a {
  color: white;
  list-style-type: none;
  font-size: 16px;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
}
.menu ul a:hover {
  background-color: white;
  color: black;
  transition-duration: 1.5s;
  background: linear-gradient(to left, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.menu--open {
  display: block;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-track {
  background: black;
}
html ::-webkit-scrollbar-thumb {
  background: white;
}
body {
  background: url("/Design Folder/backgroundField.png") no-repeat center center fixed;
  background-color: black;
  min-height: 100%;
  font-size: 62.5%;
}
body .fab {
  height: 10rem;
  width: 10rem;
}
body ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-track {
  background: black;
}
body ::-webkit-scrollbar-thumb {
  background: white;
}
body button {
  cursor: pointer;
}
body .header {
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 2;
  background-color: #000000;
  position: fixed;
}
body .rootNav nav {
  padding: 2% 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}
body .rootNav nav a {
  border-right: 1px solid white;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 4%;
}
body .rootNav nav a:hover {
  background-color: white;
  color: black;
  transition-duration: 1.5s;
  background: linear-gradient(to left, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
@media (min-width: 801px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 800px) {
  body .rootNav nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  body .rootNav nav a {
    margin: 2%;
  }
}
body .Cta {
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  margin: 2% 33%;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  padding: 2%;
}
body .Cta h1 {
  margin-left: 2%;
  font-size: 5rem;
  font-weight: bolder;
}
@media (max-width: 500px) {
  body .Cta h1 {
    font-size: 2rem;
  }
}
body .Cta .landingImg {
  width: 100%;
}
body .products {
  display: inline-flex;
  width: 100%;
}
body .products .productContainer {
  width: 30%;
  padding: 2%;
  margin: 1% 1%;
  border: 2px solid black;
  align-content: center;
  text-align: center;
  line-height: 155%;
  background-color: white;
  opacity: 0.6;
}
body .products .productContainer h1 {
  font-size: 1.45rem;
  font-weight: bold;
}
body .products .productContainer .pImg {
  height: 5rem;
  width: 5rem;
}
body .products .productContainer li {
  font-size: 0.8rem;
  font-weight: bolder;
}
body .products .productContainer button {
  width: 66%;
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}
body .products .productContainerInv {
  width: 30%;
  padding: 2%;
  margin: 1% 1%;
  border: 2px solid black;
  align-content: center;
  text-align: center;
  line-height: 155%;
  background-color: black;
  color: white;
}
body .products .productContainerInv h1 {
  font-size: 1.45rem;
  font-weight: bold;
}
body .products .productContainerInv .pImg {
  height: 5rem;
  width: 5rem;
}
body .products .productContainerInv li {
  font-size: 0.8rem;
  font-weight: bolder;
}
body .products .productContainerInv button {
  width: 66%;
  text-decoration: none;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
}
@media (max-width: 800px) {
  body .products {
    flex-direction: column;
  }
  body .products .productContainer {
    margin-left: 33%;
  }
  body .products .productContainerInv {
    margin-left: 33%;
  }
}
body .game {
  margin: 1% 25%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
  font-size: 1.8rem;
}
body .game .vImg {
  height: 5rem;
  width: 5rem;
}
body .game .hImg {
  height: 5rem;
  width: 5rem;
}
body .game .vsImg {
  height: 10rem;
  width: 10rem;
}
body .game .vTeam {
  display: flex;
  width: 33.3%;
  justify-content: flex-start;
  margin: 1% 3%;
}
body .game .hTeam {
  display: flex;
  width: 33.3%;
  justify-content: flex-end;
  margin: 1% 3%;
}
body .game .vs {
  display: flex;
  width: 33.3%;
  justify-content: center;
}
body .socialMedia {
  display: flex;
  width: 100%;
}
body .socialMedia span {
  margin-left: 33%;
  justify-content: center;
}
body .socialMedia span i {
  cursor: pointer;
}
body footer {
  z-index: -1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2% 0;
  display: inline-flex;
  width: 100%;
  bottom: 0;
}
body footer a {
  font-size: 1rem;
  display: inline-flex;
  text-decoration: none;
  padding: 0 1%;
  margin: 0 auto;
  border-right: 1px solid white;
  color: white;
}
body footer a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  transition-duration: 1.5s;
  background: linear-gradient(to left, white 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
